<style type="text/css">
    @import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

.myForm {
    width: 30%;
    margin: 0 auto;
    padding-top: 50px;
}

.myForm h1 {
    color: #5BC0DE;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.myForm .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.myForm .checkbox.show:before {
    content: '\f00c';
    color: #5bc0de;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: FontAwesome;
}

.myForm .checkbox .mycheckbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}

.myForm .checkbox .label {
    color: #777;
    font-size: 13px;
    font-weight: 400;
}

.myForm .forget {
    font-size: 13px;
    text-align: center;
    display: block;
}
/*    --------------------------------------------------
    :: Footer
    -------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}

</style>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="myForm">
                    <h1 class="text-center">Sign In</h1>
                    <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="sr-only">Username</label>
                            <input type="text" id="email" class="form-control input-md" placeholder="Username" data-ng-model="userName">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" disabled="true" name="key" id="key" class="form-control input-md" placeholder="Password">
                        </div>
                       
                        <span class="group-btn">     
                        <a href="#/conversations/{{ userName}}" class="btn btn-info btn-lg btn-block">Log in </a>
                    </span>


                        <!-- <input type="submit" id="btn-login" class="btn btn-info btn-lg btn-block" value="Log in">-->
                        <br>
                        <a href="https://github.com/ms-aprima/utd-codegenerator" class="forget" data-toggle="modal" data-target=".forget-modal">Interested in our code?</a>
                    </form>
                    <hr>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p>Page © - 2015</p>
                <p>Powered by <strong><a href="http://www.aprima.com" target="_blank">Aprima</a></strong></p>
            </div>
        </div>
    </div>
</footer>
